@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	background-color:rgb(40 41 41);
}

h1{
	font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;}
  
h2,h3 {
	font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


